* {
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  box-sizing: border-box; }

body {
  background-color: #274e66; }
=======
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #274e66;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenedor {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
      grid-template-areas: "header header header" "main main main" "main main main" "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .main,
.contenedor .footer,
.contenedor .header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.contenedor .main {
  min-height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
}

.contenedor .anchofooter {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

@media screen and (min-width: 570px) {
  .contenedor {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[5];
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "header header" "main main" "main main" "main main" "footer footer";
  }
}

@media screen and (max-width: 768px) {
  .main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "contenprom contenprom contenprom" "contenprod contenprod contenprod" "seccion3 seccion3 seccion3" "navpags navpags navpags";
  }
}

@media screen and (min-width: 570px) {
  .main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[11];
        grid-template-rows: repeat(11, 1fr);
        grid-template-areas: "prom" "prod" "endymas" "endymas"  "prodmad" "esmsint" "latex"  "membr" "revtext" "revtext" "navpags";
  }
}
>>>>>>> f3bf3b9469d345c9ab03e68c8bb02c798822ea1a

/* !--comienza index--! */
.encabezado {
  background-image: url(/media/Dormitorio-verde-foto4.jpg);
  height: 90vh;
<<<<<<< HEAD
  background-size: cover; }

.carousel-column {
  height: 650px;
  width: auto;
  margin: 0 auto; }

.promocionesyproductos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.contenprom {
  display: flex;
  flex-direction: row;
  margin-left: -0.6rem;
  gap: 5rem;
  grid-area: contenprom; }
  .contenprom .prom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 16rem;
    height: 21rem;
    transition: all 1s;
    padding: 5px;
    margin: 1.5rem;
    background-color: #fff; }
    .contenprom .prom_img {
      width: 15rem;
      height: 16rem; }
    .contenprom .prom:hover {
      box-shadow: 2px 2px 13px 5px black;
      -webkit-box-shadow: 2px 2px 13px 5px black;
      -moz-box-shadow: 2px 2px 13px 5px black; }

.textos {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  color: black;
  text-decoration: solid; }

.contenprod {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -0.6rem;
  gap: 5rem;
  grid-area: contenprod; }
  .contenprod .prod {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 16rem;
    height: 21rem;
    transition: all 1s;
    margin: 1.5rem;
    padding: 5px;
    background-color: #fff; }
    .contenprod .prod_img {
      width: 15rem;
      height: 16rem;
      position: absolute; }
    .contenprod .prod:hover {
      box-shadow: 2px 2px 13px 5px black;
      -webkit-box-shadow: 2px 2px 13px 5px black;
      -moz-box-shadow: 2px 2px 13px 5px black; }

.seccion3 {
  display: flex;
  flex-direction: row;
  margin-left: -1.2rem;
  gap: 5rem;
  grid-area: seccion3; }
  .seccion3 .padre {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "endymas prodmad" "endymas membr" "revtext latex" "esmsint latex"; }
    .seccion3 .padre .hijos {
      margin: 5px;
      padding: 5px;
      border-radius: 3px;
      width: 700px auto;
      height: 450px auto;
      transition: all 1s; }
      .seccion3 .padre .hijos .endymas {
        color: black;
        width: 550px;
        height: 400px;
        background-image: url("/media/griddd/masilla2.jpg");
        text-align: end;
        grid-area: endymas; }
      .seccion3 .padre .hijos .prodmad {
        color: black;
        background-image: url("../media/griddd/maderaffff.jpg");
        text-align: end;
        grid-area: prodmad; }
      .seccion3 .padre .hijos .membr {
        color: black;
        background-image: url("../media/griddd/membrana impermeableggggg.jpg");
        text-align: end;
        grid-area: membr; }
      .seccion3 .padre .hijos .esmsint {
        color: black;
        background-image: url("../media/griddd/esmalteSintetico.jpg");
        text-align: end;
        grid-area: esmsint; }
      .seccion3 .padre .hijos .revtext {
        color: black;
        background-image: url("../media/griddd/revestimientogggggg.jpg");
        text-align: end;
        grid-area: revtext; }
      .seccion3 .padre .hijos .latex {
        color: black;
        width: 550px;
        height: 400px;
        background-image: url("../media/griddd/latex-exterior eww.jpg");
        text-align: unset;
        grid-area: latex; }

.navpags {
  grid-area: navpags; }
=======
  background-size: cover;
}

.promocionesyproductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contenprom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 4.3rem;
  gap: 5rem;
  grid-area: contenprom;
}

.contenprom_prom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 16rem;
  height: 21rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  padding: 5px;
  margin: 1.5rem;
  background-color: #fff;
}

.contenprom_prom_img {
  width: 15rem;
  height: 16rem;
}

.contenprom_prom:hover {
  box-shadow: 2px 2px 13px 5px black;
  -webkit-box-shadow: 2px 2px 13px 5px black;
  -moz-box-shadow: 2px 2px 13px 5px black;
}

.textos {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.contenprod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 4.2rem;
  gap: 5rem;
  grid-area: contenprod;
}

.contenprod_prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 16rem;
  height: 21rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin: 1.5rem;
  padding: 5px;
  background-color: #fff;
}

.contenprod_prod_img {
  width: 15rem;
  height: 16rem;
  position: absolute;
}

.contenprod_prod:hover {
  box-shadow: 2px 2px 13px 5px black;
  -webkit-box-shadow: 2px 2px 13px 5px black;
  -moz-box-shadow: 2px 2px 13px 5px black;
}

.seccion3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: -1.2rem;
  gap: 5rem;
  grid-area: seccion3;
}

.seccion3_padre {
  width: 90%;
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas: "endymas prodmad" "endymas membr" "revtext latex" "esmsint latex";
}

.seccion3_padre_hijos {
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  width: 700px auto;
  height: 450px auto;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.seccion3_padre_hijos_endymas {
  color: black;
  width: 550px;
  height: 400px;
  background-image: url(/media/griddd/masilla2.jpg);
  text-align: end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: endymas;
}

.seccion3_padre_hijos_prodmad {
  color: black;
  background-image: url(/media/griddd/maderaffff.jpg);
  text-align: end;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: prodmad;
}

.seccion3_padre_hijos_membr {
  color: black;
  background-image: url(/media/griddd/membrana\impermeable.jpg);
  text-align: end;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: membr;
}

.seccion3_padre_hijos_esmsint {
  color: black;
  background-image: url(/media/griddd/esmalteSintetico.jpg);
  text-align: end;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: esmsint;
}

.seccion3_padre_hijos_revtext {
  color: black;
  background-image: url(/media/griddd/revestimientogggggg.jpg);
  text-align: end;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: revtext;
}

.seccion3_padre_hijos_latex {
  color: black;
  width: 550px;
  height: 400px;
  background-image: url(/media/griddd/latex-exterior\eww.jpg);
  text-align: unset;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: latex;
}

@media screen and (min-width: 570px) {
  .seccion3 .seccion3 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[8];
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: "endymas" "endymas"  "prodmad" "esmsint" "latex"  "membr" "revtext" "revtext";
  }
}

.navpags {
  grid-area: navpags;
}

.imcaru {
  width: 1800px;
  height: 650px;
}
>>>>>>> f3bf3b9469d345c9ab03e68c8bb02c798822ea1a

footer {
  width: 100%;
  height: 100px;
<<<<<<< HEAD
  display: flex;
  justify-content: center;
  background-color: #0a0527;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  footer .redes {
    display: inline-block; }
    footer .redes .bi-facebook {
      text-align: center;
      margin-left: 5px;
      margin-right: 5px;
      color: #fff; }
      footer .redes .bi-facebook:hover {
        color: blue; }
    footer .redes .bi-instagram {
      text-align: center;
      margin-left: 5px;
      margin-right: 5px;
      color: #fff; }
      footer .redes .bi-instagram:hover {
        color: #791779; }
    footer .redes .bi-whatsapp {
      text-align: center;
      margin-left: 5px;
      margin-right: 5px;
      color: #fff; }
      footer .redes .bi-whatsapp:hover {
        color: green; }

.anchofooter {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1fr;
  grid-template-areas: "logof redes"; }
=======
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0a0527;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
>>>>>>> f3bf3b9469d345c9ab03e68c8bb02c798822ea1a

.bi-facebook {
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
<<<<<<< HEAD
  color: #fff; }
  .bi-facebook:hover {
    color: blue; }
=======
  color: #fff;
}

.bi-facebook:hover {
  color: blue;
}
>>>>>>> f3bf3b9469d345c9ab03e68c8bb02c798822ea1a

.bi-instagram {
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
<<<<<<< HEAD
  color: #fff; }
  .bi-instagram:hover {
    color: #791779; }
=======
  color: #fff;
}

.bi-instagram:hover {
  color: #791779;
}
>>>>>>> f3bf3b9469d345c9ab03e68c8bb02c798822ea1a

.bi-whatsapp {
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
<<<<<<< HEAD
  color: #fff; }
  .bi-whatsapp:hover {
    color: #27ac15; }
=======
  color: #fff;
}

.bi-whatsapp:hover {
  color: #27ac15;
}
>>>>>>> f3bf3b9469d345c9ab03e68c8bb02c798822ea1a

/* !--animaciones--! */
.caja {
  width: 60px;
  height: 60px;
  margin: 5px auto;
<<<<<<< HEAD
  display: inline-block; }
  .caja:hover {
    transform: rotate(30deg); }
=======
  display: inline-block;
}

.caja:hover {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
>>>>>>> f3bf3b9469d345c9ab03e68c8bb02c798822ea1a

.aninav {
  width: 40px;
  height: 40px;
  margin: 5px auto;
<<<<<<< HEAD
  display: inline-block; }

.tran1 {
  transition: all 1s ease; }
  .tran1:hover {
    width: 200px; }
=======
  display: inline-block;
}

.tran1 {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.tran1:hover {
  width: 200px;
}
>>>>>>> f3bf3b9469d345c9ab03e68c8bb02c798822ea1a

.btn-lav {
  color: #fff;
  background-color: #014a86;
<<<<<<< HEAD
  border-color: #014a86; }

.bodyAcce {
  background-color: #274e66; }
=======
  border-color: #014a86;
}

.bodyAcce {
  background-color: #274e66;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
>>>>>>> f3bf3b9469d345c9ab03e68c8bb02c798822ea1a

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
<<<<<<< HEAD
  color: black; }

.h2a {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 1rem;
  margin-block-end: -3rem; }

.accesorios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .accesorios .cardA {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: space-around;
    width: 16rem;
    height: 21rem;
    transition: all 1s;
    margin: 1.5rem;
    grid-area: cardA;
    background-color: #fff; }
    .accesorios .cardA img {
      width: 15rem;
      height: 16rem; }
    .accesorios .cardA:hover {
      box-shadow: 2px 2px 13px 5px black;
      -webkit-box-shadow: 2px 2px 13px 5px black;
      -moz-box-shadow: 2px 2px 13px 5px black; }

.textosA {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  color: black;
  text-decoration: solid; }

footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: #0a0527;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  footer .redes {
    display: inline-block; }
    footer .redes .bi-facebook {
      text-align: center;
      margin-left: 5px;
      margin-right: 5px;
      color: #fff; }
      footer .redes .bi-facebook:hover {
        color: blue; }
    footer .redes .bi-instagram {
      text-align: center;
      margin-left: 5px;
      margin-right: 5px;
      color: #fff; }
      footer .redes .bi-instagram:hover {
        color: #791779; }
    footer .redes .bi-whatsapp {
      text-align: center;
      margin-left: 5px;
      margin-right: 5px;
      color: #fff; }
      footer .redes .bi-whatsapp:hover {
        color: green; }

.navpags {
  grid-area: navpags; }

.imcaru {
  width: 1800px;
  height: 650px; }

.btn-lav {
  color: #fff;
  background-color: #014a86;
  border-color: #014a86; }

.bi-facebook {
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff; }
  .bi-facebook:hover {
    color: blue; }

.bi-instagram {
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff; }
  .bi-instagram:hover {
    color: #791779; }

.bi-whatsapp {
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff; }
  .bi-whatsapp:hover {
    color: #27ac15; }

/* !--animaciones--! */
.caja {
  width: 60px;
  height: 60px;
  margin: 5px auto;
  display: inline-block; }
  .caja:hover {
    transform: rotate(30deg); }

.aninav {
  width: 40px;
  height: 40px;
  margin: 5px auto;
  display: inline-block; }

.tran1 {
  transition: all 1s ease; }
  .tran1:hover {
    width: 200px; }

.bodyCon {
  background-color: #274e66; }

.h2 {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 3rem;
  margin-block-end: 3rem; }

.pintucon {
  display: flex;
  flex-direction: row;
  align-items: center; }

.pintureria {
  width: 50%;
  height: 450px; }

@media screen and (min-width: 570px) {
  .pintucon {
    flex-direction: column; } }

.form {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  text-align: center;
  grid-template-areas: form; }

.maps {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  grid-template-areas: maps; }

.textsucur {
  margin-top: 3rem;
  margin-block-end: 3rem; }

.fotopintureria {
  width: 50%;
  height: 500px;
  border-radius: 3rem; }
=======
  color: goldenrod;
  color: black;
}

.accesorios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accesorios_cardA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-items: space-around;
  width: 16rem;
  height: 21rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin: 1.5rem;
  background-color: #fff;
}

.accesorios_cardA:hover {
  box-shadow: 2px 2px 13px 5px black;
  -webkit-box-shadow: 2px 2px 13px 5px black;
  -moz-box-shadow: 2px 2px 13px 5px black;
}

.accesorios_cardA_img {
  width: 15rem;
  height: 16rem;
}

.accesorios_cardA .textosA {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

@media screen and (min-width: 760px) {
  .accesorios .accesorios {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4 1fr);
        grid-template-areas: "cardA cardA cardA" "cardA cardA cardA" "cardA cardA cardA" "cardA cardA";
  }
}

@media screen and (min-width: 570px) {
  .accesorios .accesorios {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4 1fr);
        grid-template-areas: "cardA cardA" "cardA cardA" "cardA cardA" "cardA cardA";
  }
}
>>>>>>> f3bf3b9469d345c9ab03e68c8bb02c798822ea1a

footer {
  width: 100%;
  height: 100px;
<<<<<<< HEAD
  display: flex;
  justify-content: center;
  background-color: #0a0527;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  footer .redes {
    display: inline-block; }
    footer .redes .bi-facebook {
      text-align: center;
      margin-left: 5px;
      margin-right: 5px;
      color: #fff; }
      footer .redes .bi-facebook:hover {
        color: blue; }
    footer .redes .bi-instagram {
      text-align: center;
      margin-left: 5px;
      margin-right: 5px;
      color: #fff; }
      footer .redes .bi-instagram:hover {
        color: #791779; }
    footer .redes .bi-whatsapp {
      text-align: center;
      margin-left: 5px;
      margin-right: 5px;
      color: #fff; }
      footer .redes .bi-whatsapp:hover {
        color: green; }

label {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.imcaru {
  width: 1800px;
  height: 650px; }

.bi-facebook {
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff; }
  .bi-facebook:hover {
    color: blue; }

.bi-instagram {
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff; }
  .bi-instagram:hover {
    color: #791779; }

.bi-whatsapp {
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff; }
  .bi-whatsapp:hover {
    color: #27ac15; }

/* !--animaciones--! */
.caja {
  width: 60px;
  height: 60px;
  margin: 5px auto;
  display: inline-block; }
  .caja:hover {
    transform: rotate(30deg); }

.aninav {
  width: 40px;
  height: 40px;
  margin: 5px auto;
  display: inline-block; }

.tran1 {
  transition: all 1s ease; }
  .tran1:hover {
    width: 200px; }

body {
  background-color: #ebecea;
  height: 100vh; }

.contenedore {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  height: 100vh; }

img {
  width: 50%; }

h1 {
  color: #040530;
  font-size: 25px;
  font-family: 'Bebas Neue', cursive;
  padding: 20px;
  margin-block-end: -3rem; }

button {
  padding: 15px 35px;
  border-radius: 15px;
  border: none;
  color: #040530;
  background: #1b86b8;
  font-family: 'Bebas Neue', cursive;
  font-size: 18px; }

@media screen and (max-width: 630px) {
  h1 {
    font-size: 18px; } }

@media screen and (max-width: 630px) {
  button {
    font-size: 12px; } }
=======
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0a0527;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer .redes {
  display: inline-block;
}

footer .redes .bi-facebook {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}

footer .redes .bi-facebook_:hover {
  color: blue;
}

footer .redes .bi-instagram {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}

footer .redes .bi-instagram_:hover {
  color: #791779;
}

footer .redes .bi-whatsapp {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}

footer .redes .bi-whatsapp_:hover {
  color: green;
}

.bodyCon {
  background-color: #274e66;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: wrap;
          flex-direction: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.form_h2 {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (min-width: 760px) {
  .formulario {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "form maps";
  }
}

@media screen and (min-width: 570px) {
  .formulario {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "form maps";
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0a0527;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer .redes {
  display: inline-block;
}

footer .redes .bi-facebook {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}

footer .redes .bi-facebook_:hover {
  color: blue;
}

footer .redes .bi-instagram {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}

footer .redes .bi-instagram_:hover {
  color: #791779;
}

footer .redes .bi-whatsapp {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}

footer .redes .bi-whatsapp_:hover {
  color: green;
}
/*# sourceMappingURL=estilos.css.map */
>>>>>>> f3bf3b9469d345c9ab03e68c8bb02c798822ea1a
