body{
    background-color:#ebecea;
    height: 100vh;
    
}
.contenedore{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    height: 100vh;
}
img{
    width: 50%;
}
h1{
    color:rgb(4, 5, 48);
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    padding: 20px;
    margin-block-end: -3rem;
}
button{
    padding: 15px 35px;
    border-radius: 15px;
    border: none;
    color:rgb(4, 5, 48);
    background: rgb(27, 134, 184);
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}
@media screen and (max-width:630px) {
    h1{
        font-size: 18px;
    }
}
@media screen and (max-width:630px) {
    button{
        font-size: 12px;
    }
}