.bodyAcce{
    background-color: $azulfond;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color:  $negro;
}
.h2a {
    color:  $negro;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 1rem;
    margin-block-end: -3rem;
}

.accesorios{
    display: flex;
    flex-direction:row ;
    flex-wrap:wrap;
    justify-content: center;
    .cardA{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-items: space-around;
        width: $wcaja; 
        height: $hcaja;
        transition: all 1s;
        margin: 1.5rem;
        grid-area: cardA;
        background-color: $blanco;
        img{
            width: $wimg;
            height: $himg;
        }
        &:hover{
            box-shadow: 2px 2px 13px 5px rgb(0, 0, 0);
        -webkit-box-shadow: 2px 2px 13px 5px rgb(0, 0, 0);
        -moz-box-shadow: 2px 2px 13px 5px rgb(0, 0, 0);
        }
    }
}
.textosA{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    color: $negro;
    text-decoration: solid;
} 
footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: $azulfoot;
    color: $blanco;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    .redes{
        display: inline-block;
        .bi-facebook{
            text-align: center;
            margin-left: 5px;
            margin-right: 5px;
            color: $blanco;
            &:hover{
                color: blue;
            }
        }
        .bi-instagram{
            text-align: center;
            margin-left: 5px;
            margin-right: 5px;
            color: $blanco;
            &:hover{
                color: rgb(121, 23, 121);
            }
        }
        .bi-whatsapp{
            text-align: center;
            margin-left: 5px;
            margin-right: 5px;
            color: $blanco;
            &:hover{
                color: green;
            }
        }
    }
}
.navpags{
    grid-area: navpags;
}
.imcaru{
    width: 1800px;
    height: 650px;
}
.btn-lav{
    color: $blanco;
    background-color: rgb(1, 74, 134) ;
    border-color: rgb(1, 74, 134) ;
}
@mixin redes ($hover) {
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: $blanco;
    &:hover {
        color: $hover;
    }
}
.bi-facebook{
    @include redes($fb);
}
.bi-instagram{
    @include redes($wp);
}
.bi-whatsapp{
    @include redes($insta);
}
/* !--animaciones--! */
.caja{
    width: 60px;
    height: 60px;
    margin: 5px auto;
    display: inline-block;
    &:hover{
        transform: rotate(30deg);
    }
}

.aninav{
    width: 40px;
    height: 40px;
    margin: 5px auto;
    display: inline-block;
}
.tran1{
    transition: all 1s ease;
    &:hover{
        width: 200px;
    }
}