.bodyAcce{
    background-color: $azulfond;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: goldenrod;
    color:  $negro;
}
.accesorios{
    display: flex;
    flex-direction:row ;
    flex-wrap:wrap;
    justify-content: center;
    &_cardA{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-items: space-around;
        width: $wcaja; 
        height: $hcaja;
        transition: all 1s;
        margin: 1.5rem;
        background-color: $blanco;
        &:hover{
            box-shadow: 2px 2px 13px 5px rgb(0, 0, 0);
        -webkit-box-shadow: 2px 2px 13px 5px rgb(0, 0, 0);
        -moz-box-shadow: 2px 2px 13px 5px rgb(0, 0, 0);
        }
        &_img{
            width: $wimg;
            height: $himg;
        }
        .textosA{
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            display: flex;
            justify-content: center;
            color: $negro;
            text-decoration: solid;
        } 
    }
    @media screen and (min-width:760px) {
        .accesorios{
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(4 1fr);
            grid-template-areas:
            "cardA cardA cardA"
            "cardA cardA cardA"
            "cardA cardA cardA"
            "cardA cardA" ;
        }
    }
    @media screen and (min-width:570px) {
        .accesorios{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4 1fr);
            grid-template-areas:
            "cardA cardA"
            "cardA cardA"
            "cardA cardA"
            "cardA cardA" ;
        }
    }
}
cardA{
    grid-area: cardA;
}
footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: $azulfoot;
    color: $blanco;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    .redes{
        display: inline-block;
        .bi-facebook{
            text-align: center;
            margin-left: 5px;
            margin-right: 5px;
            color: $blanco;
            &_:hover{
                color: blue;
            }
        }
        .bi-instagram{
            text-align: center;
            margin-left: 5px;
            margin-right: 5px;
            color: $blanco;
            &_:hover{
                color: rgb(121, 23, 121);
            }
        }
        .bi-whatsapp{
            text-align: center;
            margin-left: 5px;
            margin-right: 5px;
            color: $blanco;
            &_:hover{
                color: green;
            }
        }
    }
}



