.bodyCon{
    background-color: $azulfond;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.form{
    display: flex;
    flex-direction: wrap;
    justify-content:center;
    text-align: center;
    &_h2{
        color:  $negro;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}
@media  screen and (min-width:760px){
    .formulario{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "form maps" ;
    }
}
@media  screen and (min-width:570px){
    .formulario{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "form maps" ;
        flex-direction:column;
    }
}

footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: $azulfoot;
    color: $blanco;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    .redes{
        display: inline-block;
        .bi-facebook{
            text-align: center;
            margin-left: 5px;
            margin-right: 5px;
            color: $blanco;
            &_:hover{
                color: blue;
            }
        }
        .bi-instagram{
            text-align: center;
            margin-left: 5px;
            margin-right: 5px;
            color: $blanco;
            &_:hover{
                color: rgb(121, 23, 121);
            }
        }
        .bi-whatsapp{
            text-align: center;
            margin-left: 5px;
            margin-right: 5px;
            color: $blanco;
            &_:hover{
                color: green;
            }
        }
    }
}