body{
    background-color: $azulfond;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contenedor {
	width: 100%;
	display: grid;
	gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer" ;
}
.contenedor >div,
.contenedor .header,
.contenedor .main,
.contenedor .footer,
.contenedor .header{
	grid-area: header;
    
}
.contenedor .main{
    min-height: 100%;
	text-align: center;
	display: flex;
	align-items:center;
	justify-content:space-around;
    grid-area: main;
}
.contenedor .anchofooter{
    grid-area: footer;
}

@media screen and (min-width:570px) {
    .contenedor {
        grid-template-columns: repeat(2, 1fr);
	    grid-template-rows: repeat(5, auto);
        grid-template-areas:
        "header header"
	    "main main"
        "main main"
        "main main"
		"footer footer" ;
    }
}
@media screen and (max-width:768px) {
    .main {
        grid-template-columns: 1fr ;
	    grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "contenprom contenprom contenprom"
	    "contenprod contenprod contenprod"
        "seccion3 seccion3 seccion3"
        "navpags navpags navpags";
    }
}
@media screen and (min-width:570px) {
    .main{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(11, 1fr);
        grid-template-areas:
        "prom"
        "prod"
        "endymas"
        "endymas" 
        "prodmad"
        "esmsint"
        "latex" 
        "membr"
        "revtext"
        "revtext"
        "navpags" ;
    }
}
/* !--comienza index--! */

.encabezado{
    background-image: url(/media/Dormitorio-verde-foto4.jpg);
    height: 90vh;
    background-size: cover;
}
.promocionesyproductos{
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contenprom{
    display:flex;
    flex-direction: row;
    margin-left: 4.3rem;
    gap: 5rem;
    grid-area: contenprom;
    &_prom{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        width: $wcaja; 
        height: $hcaja;
        transition: all 1s;
        padding: 5px;
        margin: 1.5rem;
        background-color: $blanco;
        &_img{
            width: $wimg;
            height: $himg;
        }
        &:hover{
            box-shadow: 2px 2px 13px 5px rgb(0, 0, 0);
        -webkit-box-shadow: 2px 2px 13px 5px rgb(0, 0, 0);
        -moz-box-shadow: 2px 2px 13px 5px rgb(0, 0, 0);
        }
    }
}

.textos{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    color: $negro;
    text-decoration: solid;
} 
.contenprod{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-left: 4.2rem;
    gap: 5rem;
    grid-area: contenprod;
    &_prod{
        display:flex;
        flex-wrap: wrap;
        flex-direction:row;
        width: $wcaja; 
        height: $hcaja;
        transition: all 1s;
        margin: 1.5rem;
        padding: 5px;
        background-color: $blanco;
        &_img{
            width:  $wimg;
            height: $himg;
            position: absolute;
        }
        &:hover{
            box-shadow: 2px 2px 13px 5px rgb(0, 0, 0);
        -webkit-box-shadow: 2px 2px 13px 5px rgb(0, 0, 0);
        -moz-box-shadow: 2px 2px 13px 5px rgb(0, 0, 0);
        }
    }
}

.seccion3{
    display:flex;
    flex-direction: row;
    margin-left: -1.2rem;
    gap: 5rem;
    grid-area: seccion3;
    &_padre{
        width: 90% ;
        margin: 20px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "endymas prodmad"
            "endymas membr"
            "revtext latex"
            "esmsint latex" ;
            &_hijos{
                margin: 5px;
                padding: 5px;
                border-radius: 3px;
                width: 700px auto ;
                height: 450px auto;
                transition: all 1s;
                &_endymas{
                    color:  $negro;
                    width: $wgridg;
                    height:$hgridg;
                    background-image: url(/media/griddd/masilla2.jpg);
                    text-align: end;
                    grid-area: endymas;
                }
                &_prodmad{
                    color:  $negro;
                    background-image: url(/media/griddd/maderaffff.jpg);
                    text-align: end;
                    grid-area: prodmad;
                }
                &_membr{
                    color:  $negro;
                    background-image: url(/media/griddd/membrana\impermeable.jpg);
                    text-align:end;
                    grid-area: membr;
                }
                &_esmsint{
                    color:  $negro;
                    background-image: url(/media/griddd/esmalteSintetico.jpg);
                    text-align: end;
                    grid-area: esmsint;
                }
                &_revtext{
                    color:  $negro;
                    background-image: url(/media/griddd/revestimientogggggg.jpg);
                    text-align: end;
                    grid-area: revtext;
                }
                &_latex{
                    color:  $negro;
                    width: $wgridg;
                    height:$hgridg;
                    background-image: url(/media/griddd/latex-exterior\eww.jpg);
                    text-align:unset;
                    grid-area:latex ;
                }
            }
    }
    @media screen and (min-width:570px) {
        .seccion3{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(8, 1fr);
            grid-template-areas:
                "endymas"
                "endymas" 
                "prodmad"
                "esmsint"
                "latex" 
                "membr"
                "revtext"
                "revtext" ;
        }
    }
}
.navpags{
    grid-area: navpags;
}
.imcaru{
    width: 1800px;
    height: 650px;
}
footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: $azulfoot;
    color: $blanco;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@mixin redes ($hover) {
        font-size: 30px;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        color: $blanco;
        &:hover {
            color: $hover;
        }
}

.bi-facebook{
    @include redes($fb);
}
.bi-instagram{
    @include redes($wp);
}
.bi-whatsapp{
    @include redes($insta);
}

/* !--animaciones--! */
.caja{
    width: 60px;
    height: 60px;
    margin: 5px auto;
    display: inline-block;
    &:hover{
        transform: rotate(30deg);
    }
}

.aninav{
    width: 40px;
    height: 40px;
    margin: 5px auto;
    display: inline-block;
}
.tran1{
    transition: all 1s ease;
    &:hover{
        width: 200px;
    }
}
.btn-lav{
    color: $blanco;
    background-color: rgb(1, 74, 134) ;
    border-color: rgb(1, 74, 134) ;
}
