// COLORES
$azulfond:rgb(39, 78, 102);
$azulfoot:rgb(10, 5, 39);
$blanco: #fff;
$negro: black;
$wp: rgb(121, 23, 121);
$insta: rgb(39, 172, 21);
$fb: blue;
// MEDIDAS
$wcaja: 16rem; 
$hcaja: 21rem;
$wimg: 15rem;
$himg: 16rem;
$wgridg: 550px;
$hgridg: 400px;
