*{
    margin: 0;
    padding: 0;

}
.imcaru{
    width: 1800px;
    height: 650px;
}
footer{
    background-color: rgb(10, 5, 39);
    color: rgb(250, 250, 250);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}